/* src/components/Chat.css */
.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    width: 90%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
  }
  
  .messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
  }
  
  .chat-input {
    display: flex;
  }
  
  .chat-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
    height: 80px;
  }
  
  .chat-input button {
    width: 10%;
    padding: 10px;
    border: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
  }

  .chat-input button:hover {
    background-color: white;
    color: #000000;
  }