/* src/components/Message.css */
.message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    font-size: large;
    max-width: 50%;
    max-height: 100px;
    overflow-y: auto;
    word-wrap: break-word;
  }
  
  .user {
    background-color: #00162e;
    color: white;
    width: fit-content;
    margin-left: auto;
    right: 0%;
    justify-self: auto;
  }
  
  .bot {
    background-color: #e7e7e7;
    color: black;
    justify-content: flex-start;
    width: fit-content;
  }