/* src/components/Message.css */
.message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    font-size: large;
    align-items: center;
  }
  
  .user {
    background-color: #004085;
    color: white;
    justify-content: flex-end;
  }
  
  .bot {
    background-color: #e7e7e7;
    color: black;
    justify-content: flex-start;
  }